DATABASE_URL=postgresql://mydevices:mydevices_dev@localhost:5432/mydevices
REDIS_URL=redis://localhost:6379
JWT_SECRET=change-me-in-production
APNS_KEY_ID=5JW77LR977
APNS_TEAM_ID=DWR5AEJSYY
APNS_KEY_PATH=AuthKey_5JW77LR977.p8
PORT=3001
APNS_TOPIC=com.example.mdm.pushcert
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
MDM_SERVER_URL=http://localhost:3001
